/* COLOR PALETTE */
*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes dropDown {
  0% {
    opacity: 0;
    transform: translate(0, -6rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes riseUp {
  /* beginning of the animation */
  0% {
    opacity: 0;
    transform: translate(0, 6rem); }
  /* end of the animation */
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: "Inconsolata", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-main {
  color: #fff;
  text-transform: uppercase;
  /* backface-visibility: hidden; */
  margin-bottom: 4rem; }
  .heading-main--title {
    display: block;
    font-size: 10rem;
    font-weight: 300;
    letter-spacing: 3rem;
    animation: dropDown;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-main--subtitle {
    display: block;
    font-size: 3rem;
    letter-spacing: 1rem;
    font-weight: 200;
    animation: riseUp;
    animation-duration: 1s;
    animation-timing-function: ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .5rem;
  background-image: linear-gradient(to right, #f5dd03, #8d0c05);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

.heading-secondary--white {
  font-size: 3.5rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .5rem; }

.heading-tertiary {
  font-size: 1.6rem;
  text-transform: uppercase; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-narrow-sides {
  margin-left: 7rem;
  margin-right: 7rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 3rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 2rem;
  font-weight: 400; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn:hover {
  transform: translateY(-3px);
  /* box shadow parameters: x-direction, y-direction, blur, color */
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--animated {
  animation: riseUp 1s ease-out;
  animation-fill-mode: backwards;
  /* animation-fill-mode: backwards will apply the 0% styling before it starts*/
  /* animation shorthand: 
        parameters:  animation-name, animation-duration, animation-timing-function, animation-delay*/ }

.about-scaler:hover .about-box:not(:hover) {
  transform: scale(0.9); }

.about-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 1.5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.2s;
  outline-offset: 2rem; }
  .about-box__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(to bottom, #f5dd03, #8d0c05);
    -webkit-background-clip: text;
    color: transparent; }
  .about-box:hover {
    box-shadow: 0 0 1.2rem #d29704;
    transform: translateY(-1.5rem) scale(1.08); }

.facility__list {
  margin: 0 auto; }
  .facility__list ul {
    list-style: none; }
    .facility__list ul li {
      padding: 1rem;
      color: #fff;
      font-size: 2rem;
      text-align: center;
      line-height: 2; }
      .facility__list ul li:not(:last-child) {
        border-bottom: 1px solid #eee; }

.testimonial {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem; }
  .testimonial__avatar {
    background-color: orangered;
    width: 15rem;
    height: 15rem;
    float: left;
    position: relative;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem); }
  .testimonial__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }

.header {
  height: 95vh;
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(245, 221, 3, 0.8), rgba(141, 12, 5, 0.8)), url(../img/lifter.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 95vh, 0 95vh); }
  .header__logo-container {
    position: absolute;
    top: 1rem;
    right: 1rem; }
  .header__logo {
    height: 9rem; }
  .header__text-container {
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    /* percentages are relative to the size of the element */ }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * (6rem)); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-facility {
  height: 95vh;
  padding-top: 10rem;
  background-image: linear-gradient(to right bottom, rgba(245, 221, 3, 0.8), rgba(141, 12, 5, 0.8)), url(../img/awesome-lifter.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.section-testimonials {
  background-color: #f7f7f7;
  padding: 15rem 0; }
