.about-scaler {
    &:hover .about-box:not(:hover) {
        transform: scale(.90);
    }
}

.about-box {
  background-color: rgba($color-white, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 1.5rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  transition: all 0.2s;
  outline-offset: 2rem;

  &__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(
      to bottom,
      $color-yellow,
      $color-dark-red
    );

    // Will only apply the linear gradient style to the text
    -webkit-background-clip: text;
    color: transparent;
  }

  &:hover {
    box-shadow: 0 0 1.2rem $color-mid-1;
    transform: translateY(-1.5rem) scale(1.08);
  }

  

}

