body {
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-main {
  color: $color-white;
  text-transform: uppercase;
  /* backface-visibility: hidden; */
  margin-bottom: 4rem;

  &--title {
    display: block;
    font-size: 10rem;
    font-weight: 300;
    letter-spacing: 3rem;
    animation: dropDown;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  &--subtitle {
    display: block;
    font-size: 3rem;
    letter-spacing: 1rem;
    font-weight: 200;
    animation: riseUp;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.5rem;

  background-image: linear-gradient(to right, $color-yellow, $color-dark-red);

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.heading-secondary--white {
  font-size: 3.5rem;
  color: $color-white;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.5rem;
}

.heading-secondary--mid1 {
  font-size: 3.5rem;
  color: $color-mid-1;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.5rem;
}

.heading-secondary--mid2 {
  font-size: 3.5rem;
  color: $color-mid-2;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.5rem;
}

.heading-secondary--dark {
  font-size: 3.5rem;
  color: $color-dark-red;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.5rem;
}

.heading-tertiary {
  font-size: $default-font-size;
  text-transform: uppercase;

  &-white {
    color: $color-white;
    font-size: $default-font-size;
    text-transform: uppercase;
  }
}
