.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-facility {
  height: 95vh;
  padding-top: 10rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-yellow, 0.8),
      rgba($color-dark-red, 0.8)
    ),
    url(../img/awesome-lifter.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
//   background-attachment: fixed;
}

.section-testimonials {
  padding: 15rem 0;
  position: relative;
}